a,
a:hover {
	text-decoration: none;
	color: inherit;
}

.rutaNav {
	transition: color 0.5s ease-in-out, font-weight 0.16s ease-in-out!important;
	font-weight: normal!important;
}

.rutaNav:hover {
	color: #F8B31C!important;
	font-weight: bold!important;
	transition: none 0.16s ease-in-out!important;
}

.logoNavSm {
	display: none;
}

.avatarSm {
	display: none;
}

.currentNavStyle {
	color: #1a1a1a!important;
	font-weight: bold!important;
	text-decoration: overline;
}

@media only screen and (max-device-width: 991px) {
	.navbar {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		background-color: #333;
		z-index: 9999;
	}

	.logoNavSm {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.imgNavSm {
		margin: 0 !important;
		margin-top: 0;
		padding: 0;
		height: fit-content;
	}

	.logoNavSm a {
		margin: 0;
	}

	.logoNav {
		display: none;
	}

	.noti {
		display: none;
	}

	.dropdown-item {
		white-space: normal !important;
	}

	.dropdown-menu {
		min-width: 70vw;
		max-width: 70vw;
	}

	.defaultAvatar {
		display: none;
	}

	.avatarSm {
		display: unset;
	}

	.avatarLink {
		margin: 0 !important;
	}
}
